<template>
	<svg
		style="margin: 0 auto;"
		width="22"
		height="10"
		viewBox="0 0 22 10"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path d="M6 0L0 5L6 10V6H22V4H6V0Z" fill="#1B1B1B" />
	</svg>
</template>
