<template>
	<svg
		style="margin: 0 auto;"
		width="22"
		height="12"
		viewBox="0 0 22 12"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path d="M16 0L22 6L16 12V7.2H0V4.8H16V0Z" fill="white" />
	</svg>
</template>
