<template>
	<svg
		width="12"
		height="8"
		viewBox="0 0 12 8"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path
			d="M10.1091 0.251038L11.9381 2.08004L6.09459 7.92358L0.250914 2.0799L2.08132 0.251132L6.09464 4.26554L10.1091 0.251038Z"
			fill="#1B1B1B"
		/>
	</svg>
</template>
