<template>
	<svg
		style="margin: 0 auto;"
		width="14"
		height="14"
		viewBox="0 0 14 14"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<rect
			x="2.05023"
			y="0.636047"
			width="16"
			height="2"
			transform="rotate(45 2.05023 0.636047)"
			fill="white"
		/>
		<rect
			width="16"
			height="2"
			transform="matrix(-0.707107 0.707107 0.707107 0.707107 11.9498 0.636047)"
			fill="white"
		/>
	</svg>
</template>
