<template>
	<svg
		style="margin: 0 auto;"
		width="20"
		height="12"
		viewBox="0 0 20 12"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<rect width="20" height="3" fill="#1B1B1B" />
		<rect y="9" width="20" height="3" fill="#1B1B1B" />
	</svg>
</template>
