<template>
	<svg
		width="12"
		height="16"
		viewBox="0 0 12 16"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M9.6 4V6.4C10.48 6.4 11.2 7.12 11.2 8V14.4C11.2 15.28 10.48 16 9.6 16H1.6C0.72 16 0 15.28 0 14.4V8C0 7.12 0.72 6.4 1.6 6.4V4C1.6 1.76 3.36 0 5.6 0C7.84 0 9.6 1.76 9.6 4ZM3.2 6.4H8V4C8 2.64 6.96 1.6 5.6 1.6C4.24 1.6 3.2 2.64 3.2 4V6.4Z"
			fill="#1B1B1B"
		/>
	</svg>
</template>
