<template>
	<div class="dropdown">
		<hr class="row header-row" />
		<table class="dropdown-content row">
			<tr>
				<td class="dropdown-option">{{ option }}</td>
				<td class="dropdown-value">{{ value }}</td>
				<td class="content-right">
					<ChevronDownward />
				</td>
			</tr>
		</table>
	</div>
</template>

<script>
import ChevronDownward from '~/components/Icons/ChevronDownward.vue'

export default {
	components: { ChevronDownward },
	props: {
		option: String,
		value: String
	}
}
</script>

<style scoped>
.dropdown-content {
	width: 100%;
}

.dropdown-option {
	width: 50%;
	font-weight: bold;
}

.dropdown-value {
	width: 45%;
}
</style>
