<template>
	<div :class="{ 'options--active': active }" class="options">
		<Dropdown option="Type" value="Competitive" />
		<Dropdown option="Gamemode" value="Squad Battles" />
		<Dropdown option="Lobby Status" value="Invite Only" />
	</div>
</template>

<script>
import Dropdown from './Dropdown.vue'

export default {
	components: {
		Dropdown
	},
	props: {
		active: Boolean
	}
}
</script>

<style scoped>
.options--active {
	display: none;
}
</style>
