.header-row {
  height: 1px;
  background: #1b1b1b !important;
  background-color: #ccc !important;
  border: none;
}

.row {
  margin-bottom: 12px;
}

.content-right {
  text-align: right;
}
/*# sourceMappingURL=style.css.map */