<template>
	<div class="avatar">
		<div class="avatar-image"></div>
	</div>
</template>

<style scoped>
.avatar {
	height: 60px;
	width: 60px;
	border: 2px solid white;
	border-radius: 50%;
	padding: 3px;
}

.avatar-image {
	background-image: url(https://s3-alpha-sig.figma.com/img/c832/350c/ba864550e8d181fbfec760388875ed0e?Expires=1606694400&Signature=BPQq1GkHFBkGLmyEzKGQr-hOReO0dYbfrjmK7iMl6xMBR-IhHMaTB1K3F-hjJR39veD42ScLqcQ~ALe8CcgaSBPuQIf7MX7gZZ2aXhC9Bao0I1yIVI52tIyZthLFr0bGppByK8WYLgK2SIjeJOA7KtY3n9n4QphwxZLenk3p5ZKo7-zXxIlsXhxZ-ZDurUdC6BHSbo5SRLe9dN1YwbWBh3UwImr9fdptxUPHy0tjFiE4vmuGjdRhidSAyGjWSwzC4YF1RRI5yVUkGEA89jbRq4p4PfJK8kgvTu~YrpHFB4EXOnFe38ggDbpl4MEBm9H8qtDuWHP7YPpFeD9bC23oTg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
	background-size: cover;
	height: 100%;
	width: 100%;
	border-radius: 50%;
}
</style>
