<template>
	<div class="gf-points-container">
		<div class="gf-g">G</div>
		<div class="gf-points">74</div>
	</div>
</template>

<style scoped>
.gf-points-container {
	display: flex;
	color: #e94235;
	font-weight: bold;
	margin-left: 10px;
	margin-top: -5px;
}

.gf-g {
	font-size: 16px;
	font-weight: bolder;
}

.gf-points {
	font-size: 11px;
	margin-top: 3px;
	margin-left: 3px;
}
</style>
