<template>
	<div :class="{ 'lobby--active': active }" class="lobby">
		<div class="row lobby-subtitle-container">
			<div class="lobby-subtitle-icon">
				<ArrowLeft />
			</div>
			<h3 class="lobby-subtitle">Matchmaking Lobby</h3>
		</div>
		<hr class="row header-row" />
		<div class="lobby-title-container">
			<h1 class="lobby-title">steveroesler's lobby</h1>
			<div class="lobby-title-icon">
				<Lock />
			</div>
		</div>
		<div class="row">
			<span class="badge">FIFA 19</span>
		</div>
		<div class="row grid">
			<div>
				<PlayerCard
					role="Team Leader"
					player-name="steveroesler"
					image-url="https://s3-alpha-sig.figma.com/img/c832/350c/ba864550e8d181fbfec760388875ed0e?Expires=1606694400&Signature=BPQq1GkHFBkGLmyEzKGQr-hOReO0dYbfrjmK7iMl6xMBR-IhHMaTB1K3F-hjJR39veD42ScLqcQ~ALe8CcgaSBPuQIf7MX7gZZ2aXhC9Bao0I1yIVI52tIyZthLFr0bGppByK8WYLgK2SIjeJOA7KtY3n9n4QphwxZLenk3p5ZKo7-zXxIlsXhxZ-ZDurUdC6BHSbo5SRLe9dN1YwbWBh3UwImr9fdptxUPHy0tjFiE4vmuGjdRhidSAyGjWSwzC4YF1RRI5yVUkGEA89jbRq4p4PfJK8kgvTu~YrpHFB4EXOnFe38ggDbpl4MEBm9H8qtDuWHP7YPpFeD9bC23oTg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
				/>
			</div>
			<div>
				<PlayerCard role="Team Player" player-name="Invite Player" />
			</div>
			<div></div>
		</div>
		<div class="row gf-ready">
			<ReadyButton />
			<GFPoints />
		</div>
		<div class="row">
			<Options :active="active" />
		</div>
	</div>
</template>

<script>
import PlayerCard from '~/components/PlayerCard.vue'
import Lock from '~/components/Icons/Lock.vue'
import ArrowLeft from '~/components/Icons/ArrowLeft.vue'
import Options from '~/components/Options/Index.vue'
import GFPoints from '~/components/GFPoints.vue'
import ReadyButton from '~/components/ReadyButton.vue'

export default {
	components: {
		PlayerCard,
		Options,
		Lock,
		ArrowLeft,
		GFPoints,
		ReadyButton
	},
	props: {
		active: Boolean
	}
}
</script>

<style scoped>
.grid {
	width: 100%;
	display: inline-grid;
	grid-template-columns: auto auto 40px;
	grid-column-gap: 10px;
}

.lobby {
	padding: 20px;
	transition: all 0.5s ease-out;
	height: calc(100vh - 195px);
	overflow-y: scroll;
	transition-delay: 1s;
}

.lobby--active {
	opacity: 0;
	transition-delay: 2s;
	transition: all 0.5s ease-out;
}

.lobby-title-container {
	display: flex;
}

.lobby-title {
	font-size: 36px;
	font-weight: bold;
	letter-spacing: -2px;
}

.lobby-title-icon {
	margin-left: 20px;
	margin-top: 20px;
}

.lobby-subtitle-container {
	display: flex;
}

.lobby-subtitle {
	font-size: 16px;
	font-weight: bold;
}

.lobby-subtitle-icon {
	margin-right: 20px;
	margin-top: 8px;
}

.gf-ready {
	display: flex;
}
</style>
