<template>
	<div class="menu-bar">
		<div class="menu-bar-title">
			FIFA 19
		</div>
		<div class="menu-bar-icon">
			<HamburgerMenu />
		</div>
	</div>
</template>

<script>
import HamburgerMenu from './Icons/HamburgerMenu.vue'

export default {
	components: {
		HamburgerMenu
	}
}
</script>

<style scoped>
.menu-bar {
	display: flex;
	position: absolute;
	right: 25px;
	top: 45px;
}

.menu-bar-title {
	font-size: 14px;
	font-weight: bold;
	letter-spacing: -0.5px;
	vertical-align: top;
}

.menu-bar-icon {
	margin-left: 20px;
	margin-top: 5px;
}
</style>
