<template>
	<div
		:class="{
			'overlay-block--active': active,
			'overlay-block--match-found': matchFound
		}"
		class="overlay-block"
	>
		<div
			class="back-button"
			:class="{ 'back-button--active': active }"
		></div>
		<div
			class="overlay-content"
			:class="{ 'overlay-content--active': active }"
		>
			<h3 class="content subtitle row">Matchmaking Lobby</h3>
			<h1 v-if="!matchFound" class="content title row">
				Searching for compatible opponents
			</h1>
			<h1 v-else class="content title row">
				A match has been found for you!
			</h1>
			<p v-if="!matchFound" class="content row">
				We're searching our database of players to pair you with an
				opponent of similar skill
			</p>
			<p v-else class="content row">
				We've found a compatible opponent for you to play Squad Battles
				with in FIFA 19
			</p>
			<div class="overlay-content-row">
				<div class="overlay-content-title">Lobby</div>
				<Avatar />
			</div>
			<div class="overlay-content-row">
				<div class="overlay-content-title">
					<svg
						width="12"
						height="2"
						viewBox="0 0 12 2"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<rect width="12" height="2" fill="white" />
					</svg>
				</div>
				<div v-if="!matchFound" class="overlay-content-value">
					<b>4,021</b> in Queue
				</div>
				<div v-else class="overlay-content-value">
					By tapping accept, you agree to play a match that may last
					for up to 30 minutes.
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import Avatar from '~/components/Avatar.vue'

export default {
	components: {
		Avatar
	},
	props: {
		active: Boolean,
		toggleActive: Function,
		intervalTicks: Number,
		matchFound: Boolean
	}
}
</script>

<style scoped>
.overlay-block {
	position: absolute;
	height: calc(90vh - 110px);
	width: 0vw;
	background: #0e1b69;
	transition: all 0.5s ease-out;
	transition-delay: 0.5s;
	z-index: 2;
	opacity: 0.9;
	overflow-y: scroll;
	overflow-x: hidden;
}

.overlay-block--active {
	width: 95vw;
	transition: all 0.5s ease-out;
}

.overlay-block--match-found {
	transition: all 0.5s ease-out;
	background: #060606;
}

.overlay-content {
	opacity: 0;
	padding: 20px;
}

.overlay-content--active {
	opacity: 1;
	transition: all 0.5s ease-out;
	transition-delay: 1s;
}

.overlay-content-row {
	display: flex;
	font-size: 12px;
	margin-top: 30px;
}

.overlay-content-title {
	width: 60px;
	font-size: 12px;
	color: white;
	margin-top: 15px;
}

.overlay-content-value {
	font-size: 12px;
	color: white;
	margin-top: 5px;
	margin-left: 20px;
}

.back-button {
	width: 105px;
	height: 0px;
	background: #060606;
	transition: all 0.5s ease-out;
	z-index: 3;
}

.back-button--active {
	height: 105px;
	transition: all 0.5s ease-out;
	transition-delay: 0.2s;
}
</style>
