<template>
	<div class="player-card">
		<div class="player-card-image-container" :style="playerCardStyle"></div>
		<div class="player-detail">
			<div class="player-role">{{ role }} /</div>
			<div class="player-name">{{ playerName }}</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		role: String,
		playerName: String,
		imageUrl: String
	},
	computed: {
		playerCardStyle() {
			return {
				'background-image': `url(${this.imageUrl})`,
				'background-size': 'cover',
				'background-position': 'center'
			}
		}
	}
}
</script>

<style scoped>
.player-card-image-container {
	border-radius: 6px;
	border: 1px solid #cfd1c7;
	height: 200px;
	box-shadow: 0px 2px 12px rgba(107, 107, 101, 0.251748);
}

.player-card-image {
	width: 100%;
}

.player-role {
	color: #6b6b65;
	font-size: 12px;
	margin-top: 10px;
}

.player-name {
	color: #1b1b1b;
	font-size: 16px;
	font-weight: bolder;
	margin-top: 10px;
}
</style>
