<template>
	<div
		:class="{
			'play-button--active': active,
			'play-button--match-found': matchFound
		}"
		class="play-button"
		@click="toggleActive"
	>
		<table class="play-button-row">
			<tr>
				<td>
					<h3 v-if="!active && !matchFound">Play Now</h3>
					<h3 v-if="active && !matchFound">Searching...</h3>
					<h3 v-if="active && matchFound">Accept</h3>
				</td>
				<td class="content-right">
					<h3 v-if="!active">4,021 in Queue</h3>
					<h3 v-else>
						{{ (matchFound ? '-' : '') + ticksToMinutes() }}
					</h3>
				</td>
				<td style="width: 50px;" class="content-right">
					<ArrowRight v-if="!active || matchFound" />
					<Cross v-else />
				</td>
			</tr>
		</table>
	</div>
</template>

<script>
import ArrowRight from '~/components/Icons/ArrowRight.vue'
import Cross from '~/components/Icons/Cross.vue'

export default {
	components: {
		ArrowRight,
		Cross
	},
	props: {
		active: Boolean,
		toggleActive: Function,
		intervalTicks: Number,
		matchFound: Boolean
	},
	methods: {
		ticksToMinutes() {
			const mm = Math.floor((this.intervalTicks % 3600) / 60)
			const ss = this.intervalTicks % 60

			return `${pad(mm, 2)}:${pad(ss, 2)}`
		}
	}
}

function pad(n, width) {
	n = n + ''
	return n.length >= width ? n : new Array(width - n.length + 1).join('0') + n
}
</script>

<style scoped>
.play-button {
	height: 90px;
	width: 100vw;
	position: absolute;
	bottom: 0;
	right: 0;
	background: #293894;
	color: white;
	transition: all 0.5s ease-out;
	z-index: 3;
	padding: 30px 15px;
}

.play-button--active {
	width: 80vw;
	bottom: 45px;
	background: #1b1b1b;
	transition: all 0.5s ease-out;
}

.play-button--match-found {
	background: #293894 !important;
	transition: all 0.5s ease-out;
}

.play-button-row {
	width: 100%;
}
</style>
