<template>
	<span class="btn-ready">READY</span>
</template>

<style scoped>
.btn-ready {
	color: #1b1b1b;
	border: 1px solid #1b1b1b;
	font-size: 12px;
	line-height: 11.72px;
	padding: 2px 5px;
	font-weight: 900;
	height: 18px;
	letter-spacing: 1.5px;
}
</style>
